# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# OS
.DS_Store
.directory
.swp
*.bak

# Kernel / Build
*.o
*.ko
*.mod
*.mod.c
*.mod.o
.*.cmd
modules.order
Module.symvers
.tmp_versions/
*.pkg.tar.zst
*.tar.gz
build.log
dkms.conf.auto
dkms.conf.full

# Project specifics
.context/
LaptopManagerForHP/
