[Desktop Entry]
Name=HP RGB Control
Comment=HP laptop keyboard RGB lighting control
Exec=/usr/bin/hp-manager
Icon=/usr/share/hp-manager/images/omenapplogo.png
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=HP;Omen;Victus;RGB;Lighting;Gaming;Keyboard;
StartupNotify=true
